<div class="section-five">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 order-md-2 my-3 my-md-0">
                <div class="five-text text-center">© {{year}} - Nicolás Macián</div>
            </div>
            <div class="col-md-3 col-sm-12 order-md-1 justify-content-center justify-content-md-start angular">
                <div>
                    Made in  
                </div>
                <img src="assets/angular.png" alt="Angular">
            </div>            
            <div class="col-md-3 col-sm-12 d-flex justify-content-center justify-content-md-end order-md-3 my-3 my-md-0">
                <div id="attributes" class="attribution-text"
                    matTooltip="Icons made by Freepik from www.flaticon.com. Spinner icon from loading.io">
                    Attributions
                </div>
            </div>
        </div>
    </div>
</div>