@import '~src/theme.scss';

.section-one {
    background-color: map-get($colors, secondary);
}

.one-item {
    margin-bottom: 50px;
}

.card {
    background-color: map-get($colors, secondary-accent);
}

.one-more-button {
    padding-bottom: 50px;
}

.portfolio-button {
    // font-size: 24px;
    // font-weight: 400;
    // color: #ffffff;
    border: 1px solid #ffffff !important;
    // background-color: transparent;
    // width: 220px;
    // height: 50px;
    // border-radius: 30px;
    // text-align: center;
    // cursor: pointer;
    // padding-top: 5px;
    // box-sizing: border-box;
}

.mat-light{
    color: #ffffff;
}

.portfolio-row {
    opacity: 1;
    transition: 1s;
    scroll-margin: 50px;
}
