<div class="section-container" id="portfolio">
  <div class="container">
    <div class="section-title text-center">Portfolio</div>
    <div class="one-content">
      <div class="row">
        <ng-container *ngFor="let item of display">
          <div class="col-sm-12 col-md-6 col-lg-4 one-item" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <app-portfolio-item
                [title]="item.title"
                [text]="item.text"
                [preview]="item.preview"
                [tech]="item.tech"
                [state]="item.state"
                [url]="item.url ? item.url : null"
                [more]="item.more ? item.more : null"
                [redacted]="item.redacted"
              ></app-portfolio-item>
            </div>
          </div>
        </ng-container>
      </div>
      <div
        *ngIf="more"
        class="row justify-content-center one-more-button"
        id="one-more-button"
        data-aos="fade-up"
      >
        <button
          mat-stroked-button
          class="portfolio-button zoom"
          color="light"
          (click)="showMore($event)"
        >
          Show more
        </button>
      </div>
    </div>
  </div>
</div>
