@import '~src/variables.scss';

mat-toolbar{
    margin: -24px -24px 0 !important;
    width: calc(100% + 48px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: middle;
}

mat-dialog-content{
    padding: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 70px;
  width: 70px;
  outline: black;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: map-get($colors, primary);
  line-height: 55px;
}

.carousel-control-prev-icon:after {
  content: '<';
  color: map-get($colors, primary);
  font-size: 55px;
  line-height: 55px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}