<div class="custom-header">
  <div id="particles-js"></div>
  <nav [ngClass]="{ 'navbar navbar-expand-lg navbar-light': true, 'navbar-opened': open }">
    <div class="container">
      <a class="navbar-brand initials-custom" href="/">NM</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item" (click)="customScroll('#portfolio', 500)">
            <a class="nav-link zoom">Portfolio</a>
          </li>
          <li class="nav-item" (click)="customScroll('#work', 800)">
            <a class="nav-link zoom">Experience</a>
          </li>
          <li class="nav-item" (click)="customScroll('#education', 1200)">
            <a class="nav-link zoom">Education</a>
          </li>
          <li class="nav-item" (click)="customScroll('#contact', 1500)">
            <a class="nav-link zoom">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container custom-hero">
    <div class="row justify-content-between align-items-center">
      <div
        class="col-sm-12 col-md-5 custom-hero-text px-xs-2 px-md-0"
        data-aos="slide-right"
        data-aos-delay="300"
      >
        <div class="custom-hero-title">Hey, I'm Nicolas!</div>
        <div class="custom-hero-description">
          I'm a Computer Engineer. I work as a Full Stack Web Developer and also as a Data
          Scientist.
        </div>
        <div (click)="customScroll('#contact', 1500)" class="custom-hero-button zoom">
          Contact me
        </div>
      </div>
      <div
        data-aos="slide-left"
        data-aos-delay="300"
        class="
          col-sm-12 col-md-5
          d-flex
          justify-content-center justify-content-md-end
          order-first order-md-0
          hero-image-container
        "
      >
        <img class="custom-header-image" src="assets/me_r.jpg" alt="Nicolas Macian" />
      </div>
    </div>
  </div>
</div>
