<ng-container *ngIf="type === 'degree'">
  <div class="row justify-content-center align-items-center" data-aos="fade-up">
    <div
      class="
        col-sm-12 col-md-4 col-lg-3
        d-flex
        justify-content-center justify-content-md-end
        mb-4 mb-md-0
      "
    >
      <div class="logo-container">
        <img src="{{ 'assets/' + logo }}" alt="{{ organization }}" />
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="item-content">
        <div class="item-title mb-2">{{ title }}</div>
        <a href="{{ subtitle1_url }}" target="_blank">
          <div class="item-subtitle">{{ subtitle1 }}</div>
        </a>
        <a *ngIf="subtitle2_url" href="{{ subtitle2_url }}" target="_blank">
          <div class="item-subtitle">{{ subtitle2 }}</div>
        </a>
        <div *ngIf="!subtitle2_url" class="item-subtitle">{{ subtitle2 }}</div>
        <div class="item-small mb-3">{{ start }} {{ end ? '- ' + end : '' }}</div>
        <div class="item-description mt-1" *ngFor="let item of description">{{ item }}</div>
        <div *ngIf="url" class="buttons-container mt-3 text-center text-md-left">
          <a href="{{ url }}" target="_blank">
            <button mat-flat-button color="secondary-dark" class="zoom">Verify</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 'specialization' || type === 'course'">
  <div class="row specialization">
    <div
      class="
        col-sm-12 col-md-3
        d-flex
        justify-content-center justify-content-md-end
        align-items-center
        mb-4 mb-lg-0
        position-relative
        p-0
      "
      data-aos="fade-up"
    >
      <div
        class="logo-container logo-container-min"
        [ngStyle]="{ 'background-color': logo.background ? logo.background : '#ffffff' }"
      >
        <img src="{{ 'assets/' + logo.logo_sp }}" alt="{{ logo.logo_sp_alt }}" />
      </div>
    </div>
    <div class="col-sm-12 col-md-9 mb-4 mb-sm-0 mb-lg-0 align-self-center" data-aos="fade-up">
      <div class="item-content align-items-center align-items-lg-start">
        <div class="item-name text-center text-lg-left">{{ title }}</div>
        <div class="item-by mb-1">{{ organization }}</div>
        <div class="item-date mb-1">{{ start }}</div>
        <div class="buttons-container">
          <a *ngIf="url" href="{{ url }}" target="_blank">
            <button mat-flat-button color="secondary-dark" class="zoom">Verify</button>
          </a>
          <button
            mat-flat-button
            color="accent"
            class="zoom"
            *ngIf="courses.length > 0"
            (click)="openCourses($event)"
          >
            List courses
          </button>
        </div>
      </div>
    </div>
    <div
      class="col-11 courses-container"
      *ngIf="listing && type === 'specialization'"
      data-aos="fade-up"
      data-aos-offset="30"
      data-aos-duration="700"
    >
      <ng-container *ngFor="let course of courses">
        <ng-container
          *ngTemplateOutlet="
            simple;
            context: {
              logo: logo,
              title: course.title,
              organization: course.organization,
              start: course.start,
              url: course.url
            }
          "
        >
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template
  #simple
  let-logo="logo"
  let-title="title"
  let-organization="organization"
  let-start="start"
  let-url="url"
>
  <div class="row inner-course align-items-center">
    <div class="col-md-3 col-sm-12 pl-2 pr-0">
      <div class="logo-container">
        <img src="{{ 'assets/' + logo.logo_cr }}" alt="{{ logo.logo_cr_alt }}" />
      </div>
    </div>
    <div class="col-md-9 col-sm-12 px-2">
      <div class="item-content align-items-center align-items-lg-start">
        <div class="item-name text-center text-lg-left">{{ title }}</div>
        <div class="item-by mb-1">{{ organization }}</div>
        <div class="item-date mb-1">{{ start }}</div>
        <a href="{{ url }}" target="_blank">
          <button mat-flat-button color="secondary-accent" class="zoom">Verify</button>
        </a>
      </div>
    </div>
  </div>
</ng-template>
