$colors: (
  primary:    #01d6ea,
  primary-light:    #69ffff,
  primary-dark:    #00a5b8,
  secondary:  #29648a,
  secondary-light:  #5d91ba,
  secondary-dark:  #003a5d,
  secondary-accent:  #2e9cca,
  danger:     #f53d3d,
  dark: #474747
);

/* Custom created palette (using http://mcg.mbitson.com)  */
$nm-primary: (
    50 : #e0fafc,
    100 : #b3f3f9,
    200 : #80ebf5,
    300 : #4de3f0,
    400 : #26dded,
    500 : #00d7ea,
    600 : #00d3e7,
    700 : #00cde4,
    800 : #00c7e1,
    900 : #00bedb,
    A100 : #ffffff,
    A200 : #cff8ff,
    A400 : #9cf0ff,
    A700 : #83ecff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$nm-secondary: (
    50 : #e5ecf1,
    100 : #bfd0dc,
    200 : #94b1c5,
    300 : #6992ad,
    400 : #497a9c,
    500 : #29638a,
    600 : #245b82,
    700 : #1f5177,
    800 : #19476d,
    900 : #0f355a,
    A100 : #90c4ff,
    A200 : #5da9ff,
    A400 : #2a8eff,
    A700 : #1181ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);